{
  "branches": [
    "master",
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "npmPublish": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Depstrive Changelog"
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/git"
  ]
}
